.BuildControls {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
  flex-flow: column;
  /* background-color: #3d698e; */
  background-color: #16ab39;
}
