.btn {
  /* margin-right: 0 !important; */
  color: #fff !important;
  width: 220px !important;
}

.ui.button.btn.large {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
}
