.SauceControls {
  display: flex;
  flex-flow: column;
  margin-top: 1.9rem;
  /* background-color: #a7bd0d; */
  background-color: #16ab39;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
  padding: 10px 20px 0 20px;
  margin-bottom: 1rem;
  color: #fff;
  height: 240px;
}

@media only screen and (min-width: 1200px) {
  .SauceControls {
    width: 260px;
    /* background-color: #fff; */
    margin-left: 2rem;
  }
}
