/* The container */
.container-bread {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-bread input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark-bread {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-bread:hover input ~ .checkmark-bread {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-bread input:checked ~ .checkmark-bread {
  background-color: #975b33;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-bread:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-bread input:checked ~ .checkmark-bread:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-bread .checkmark-bread:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
